src/main/resources/schema/constructor.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://christina.gorina.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://christina.gorina.com" targetNamespace="http://christina.gorina.com">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://christina.gorina.com">
<xs:element name="inputInfoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="inputInfoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="constructor" type="tns:constructor"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="constructor">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="income" type="xs:float"/>
<xs:element name="isConstant" type="xs:boolean"/>
<xs:element name="currency" type="tns:currency"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="currency">
<xs:restriction base="xs:string">
<xs:enumeration value="GBP"/>
<xs:enumeration value="EUR"/>
<xs:enumeration value="PLN"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</wsdl:types>
<wsdl:message name="inputInfoResponse">
<wsdl:part element="tns:inputInfoResponse" name="inputInfoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="inputInfoRequest">
<wsdl:part element="tns:inputInfoRequest" name="inputInfoRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ConstructorPort">
<wsdl:operation name="getConstructor">
<wsdl:input message="tns:inputInfoRequest" name="inputInfoRequest"> </wsdl:input>
<wsdl:output message="tns:inputInfoResponse" name="InputInfoResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ConstructorPortSoap11" type="tns:ConstructorPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getConstructor">
<soap:operation soapAction=""/>
<wsdl:input name="inputInfoRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="InputInfoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ConstructorPortService">
<wsdl:port binding="tns:ConstructorPortSoap11" name="ConstructorPortSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>